version: '3'
services:
  mysql8:
    image: mysql:8.0.36
    container_name: toduck_mysql
    restart: always
    ports:
      - "${MYSQL_HOST_PORT}:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: toduck
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Asia/Seoul
      LANG: C.UTF-8
    volumes:
      - ./db/mysql/data:/var/lib/mysql
      - ./db/mysql/config:/etc/mysql/conf.d
      - ../sql:/docker-entrypoint-initdb.d

  redis:
    image: redis:alpine
    command: redis-server --requirepass ${REDIS_PASSWORD} --port 6379
    container_name: todcuk_redis # TODO: 추후 오타 수정 필요
    hostname: root
    labels:
      - "name=redis"
      - "mode=standalone"
    ports:
      - "${REDIS_HOST_PORT}:6379"
    environment:
      TZ: Asia/Seoul

  rabbitmq:
    image: rabbitmq:4.1-management
    container_name: toduck_rabbitmq
    hostname: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}
      TZ: Asia/Seoul
    volumes:
      - ./rabbitmq_data:/var/lib/rabbitmq
    restart: always
